@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --primary-clr-800:101, 93, 187;
  --primary-clr-700:160, 133, 219;
  --black-clr-800:0, 0, 0;
  --black-clr-700:3, 0, 28;
  --white-clr-800:255, 255, 255;
  --red-error:255, 77, 79;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Lato", sans-serif !important;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

.site-header{
  padding:12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo{
  display: flex;
  column-gap: 8px;
}

.setting-controls{
  background:rgb(var(--white-clr-800)) !important;
  padding: 12px;
}

iframe{
  border: none;
  width: 100%;
  height: 100%;
}

.url-form-control{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.url-form-control input{
  padding: 12px 8px;
}

.url-form-control span{
  font-size: 12px;
  color: #ff6969;
}

.loginPage__Wrapper,
.signupPage__Wrapper{
  display: flex;
  min-height:100vh;
  background-color: rgba(var(--primary-clr-700), 0.2);
  padding: 12px;
  align-items: center;
  justify-content: center;
 
}

.loginForm__Wrapper,
.signupForm__Wrapper{
  display: flex;
  background-color: rgb(var(--white-clr-800));
  align-items: center;
  max-width: 880px;
  -webkit-box-shadow: 0px 0px 48px -34px rgb(var(--primary-clr-800));
-moz-box-shadow: 0px 0px 48px -34px rgb(var(--primary-clr-800));
box-shadow: 0px 0px 48px -34px rgb(var(--primary-clr-800));
}

.loginForm__banner,
.signupForm__banner{
  max-width: 500px;
  background-color: rgb(var(--primary-clr-800));
}

.loginForm__content,
.signupForm__content{
  padding: 20px 36px;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 36px;
  justify-content: center;
  align-items: center;
}

.loginForm__content form,
.signupForm__content form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 340px;
}

span.error.msg{
  color: rgb(var(--red-error));
  font-size: 14px;
}

input.error,.ant-input-password.error{
  border-color: rgb(var(--red-error));
  box-shadow: 0 0 0 2px rgba(var(--red-error),0.5);
}

.loginForm__SSO{
  width: 100%;
}

.loginForm__SSO button{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.loginForm__bottom{
  font-size: 14px;
  color: rgba(var(--black-clr-700),0.5);
}

.loginForm__bottom a{
  font-weight: 600;
}

.target-page__preview{
  height:calc(100vh - 61px);
}

.target-page__header{
  padding: 10px 15px;
  background-color: rgb(var(--white-clr-800));
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(var(--black-clr-700), 0.06);
}

.url-form-control{
  flex-basis: 500px;
}

.url-form-control input{
  font-size: 18px;
}

.target-page__header button{
  text-transform: capitalize;
}

.target-node__group{
  background-color:rgba(var(--black-clr-700), 0.06);
  height: 500px;
  overflow-y: auto;

}

.target-node__group-title{
  padding: 15px;
  background-color:rgb(var(--white-clr-800));
  border: 1px solid rgba(var(--black-clr-700), 0.06);
}

.target-node__group-container{
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.target-node__item{
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
  align-items: center;
}

.api-link__group{
  display: flex;
  margin-bottom: 16px;
}

.api-link__group button{
  border-radius: 0 6px 6px 0;
}

.data-table__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notFound-page__wrapper{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.notFound-page__container{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo{
  display: flex;
  gap: 6px;
  align-items: center;
}

.app-logo__img{
  width: 28px;
  height: 28px;
}

.app-logo{
  font-size: 22px;
  font-weight: 600;
}

.page-header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.page-header__nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  padding: 18px 15px;
  margin: auto;

}

.page-header__links{
  display: flex;
  column-gap: 22px;
  align-items: center;
}

.page-header__links a{
  font-size: 18px;
  font-weight: 500;
  color: rgb(var(--primary-clr-800));
}

.page-header__links .btn{
  border: 2px solid rgb(var(--primary-clr-800));
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.4s ease;
}

.page-header__links .btn:hover,.page-header__links .btn:focus{
  background-color: rgb(var(--primary-clr-800));
  color: rgb(var(--white-clr-800));
}